* {
    box-sizing: border-box;
}
.area {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    min-height:246px;
    min-width: 320px;
}
.characterCard {
    margin: 20px;
    display: flex;
    position: relative;
}
.characterCard__image {
    height:200px;
    width:100px;
}


#charactersStartArea{
    background-color: lightgrey;
    border: dashed red;
    margin: 30px;
}
#enemiesSelectArea {
    background-color: lightgrey;
    border: dashed yellow;
    margin: 30px;
}
#defenderArea {
    background-color: lightgrey;
    border: dashed blue;
    margin: 30px;
}
#buttonArea {
    background-color: lightgrey;
    border: dashed green;
    margin: 30px;
}

#attackButton, #restartButton {
    margin:10px;
}

#header {
    min-height:100px;
    text-align: center;
    font-size: 72px;
    font-weight:700;
}

.test {
    position: absolute;

}